/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-font-weight);
  color: var(--text-color);
  background-size: cover;
  background-attachment: fixed;
  background: repeating-linear-gradient(
      90deg,
      var(--bg-color) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--bg-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(180deg, var(--bg-color-start) 0.01%, var(--bg-color-end));
}

.decor {
  border: 2px solid var(--text-color);
  inline-size: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  background-color: var(--main-bg-color);
}

.header {
  display: grid;
  justify-content: center;
  gap: 20px;
  padding-bottom: 23px;
  padding-top: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  margin: 100px auto;
}

.main__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  font-family: var(--accent-font);
  white-space: nowrap;
  align-self: end;
  text-transform: uppercase;
}

.section {
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header__theme-menu {
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 20px;
}

.text__header {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  font-family: var(--accent-font);
  justify-self: center;
  text-transform: uppercase;
}

.theme-menu__button {
  border: transparent;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  font-family: var(--accent-font);
  transition: opacity 0.3s ease;
  cursor: pointer;
  padding: 0;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  position: relative;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  color: inherit;
  opacity: 0.6;
  font-size: 14px;
  position: absolute;
  left: -19px;
  top: 0;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  border: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  position: relative;
}

.theme-menu__button::after {
  content: "";
  opacity: 0.6;
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0%;
  background-color: var(--text-color);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__item {
  width: fit-content;
  display: block;
}

.card__title {
  font-variation-settings: "wght" var(--title-font-weight);
  font-size: 18px;
  line-height: 22px;
  padding: 4px 10px;
}

.img__block {
  position: relative;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.card__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  display: block;
}

.card__label {
  position: absolute;
  font-family: var(--accent-font);
  mix-blend-mode: hard-light;
  color: var(--text-color);
  font-size: 14px;
  right: clamp(0.813rem, 0.548rem + 1.127vw, 1.563rem);
  top: 25px;
  text-shadow: 1px 1px 0 var(--shadow-lable);
  opacity: 0.5;
}

.card__text__block {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 26px;
}

.card__text__block p:nth-child(2) {
  padding: 3.5px 0 0 0;
}

.card__text {
  font-size: 18px;
  line-height: 117%;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-font-weight);
}

.heart__button-block {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 7px;
}

.card__like-button {
  padding: 10px auto;
  border: 2px solid var(--text-color);
  cursor: pointer;
  width: 130px;
  height: 38px;
}

.button {
  font-family: var(--accent-font);
  font-size: 14px;
  position: relative;
  overflow: hidden;
  color: var(--mix-blend-color);
  font-weight: var(--main-font-weight);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: var(--mix-blend-color);
}

.card__icon-button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icon-button:focus {
  outline: 0;
  border: 0;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--text-color);
}

.button__save {
  padding: 15px 20px;
  display: flex;
  gap: 8px;
  border: 2px solid var(--text-color);
  background-color: var(--main-bg-color);
  margin: 50px auto 100px auto;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--text-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.disketa {
  width: 21px;
  height: 21px;
  fill: var(--text-color);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--mix-blend-color);
}

.card__icon-button .core {
  fill: var(--main-bg-color);
  transition: 0.3s linear 0.03s;
}

.card__icon-button .main-body {
  fill: var(--main-bg-color);
  transition: 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--text-color);
  transition: 0.3s linear 0.05s;
}

.card__icon-button:hover .core {
  fill: var(--text-color);
  transition: 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--heart-color);
  transition: 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: var(--heart-color);
  transition: 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: 0.3s linear 0.06s;
}

.sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--text-color);
  transition: 0.1s linear;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog {
  border: 2px solid var(--text-color);
  background-color: var(--main-bg-color);
  padding: 30px;
  inline-size: 353px;
}

.dialog_block {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.dialog_button {
  padding: 12px;
  inline-size: 100%;
  line-height: 90%;
  text-transform: uppercase;
  border: 2px solid var(--text-color);
}

.dialog_text {
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--text-color);
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
  line-height: 150%;
}

.disketa_dialog {
  width: 39px;
  height: 39px;
  color: var(--text-color);
}

.dialog_info {
  display: grid;
  grid-template-columns: 40px auto;
  gap: 20px;
  align-items: center;
}

.blur {
  filter: blur(3px);
}

.brightness {
  filter: brightness(50%);
}

.contrast {
  filter: contrast(250%);
}

.grayscale {
  filter: grayscale(80%);
}

.hue-rotate {
  filter: hue-rotate(0.5turn);
}

.invert {
  filter: invert(100%);
}

.saturate {
  filter: saturate(390%) sepia(0.6);
}

@media (width<=500px) {
  .width {
    inline-size: var(--inline-size);
  }

  .button__save {
    flex-direction: column;
  }

  .disketa {
    width: 28px;
    height: 28px;
  }
  
  .card__text__block p:nth-child(2) {
    padding: 3px 0 0 0;
  }

  .dialog {
    padding: 30px 40px;
    inline-size: 341px;
  }
}

@supports (
  (text-stroke: 1px var(--shadow-lable)) or
    (-webkit-text-stroke: 1px var(--shadow-lable))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--shadow-lable);
    text-shadow: none;
  }
}
