/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --accent-font: "PressStart2P", fantasy;
  --main-font: "Inter-Variable", sans-serif;
  --inline-size: 100vw;
  --heart-color: red;
}
